

<form class="form-inline" method="post">
  <label class="mr-sm-2" for="processes">Number of Processes</label>
  <select name="processes" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="processes">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    <option value="5">Five</option>
    <option value="6">Six</option>
    <option value="7">Seven</option>
    <option value="8">Eight</option>
    <option value="9">Nine</option>
    <option value="10">Ten</option>
  </select>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

